{{- define "local-title-link" }}
  {{/* 上のセクションがあれば上に辿る（Home までは辿らない） */}}
  {{- if and .node.Parent (not .node.Parent.IsHome) -}}
    {{- template "local-title-link" (dict "node" .node.Parent "start" .start) }}
  {{- end -}}

  {{/* ノード名の表示 */}}
  {{- if eq .node .start -}}
    <span class="xSectionTitle">{{ .node.Title }}</span>
  {{- else -}}
    <span class="xSectionTitle"><a href="{{ .node.RelPermalink }}">{{ .node.Title }}</a></span>
  {{- end -}}
{{- end }}


{{- define "local-subpages" }}
  <ul class="pageList">
    {{/* カレントセクション直下のセクション */}}
    {{- range .Sections }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> /</li>
    {{- end -}}

    {{/* カレントセクション直下のページ（ホームだけ特殊処理） */}}
    {{- range (cond .IsHome (where $.Site.RegularPages "Section" "") .Pages) }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{- end }}
  </ul>
{{- end }}


{{ define "article" }}
<article class="xArticle">
  <h1>{{- template "local-title-link" (dict "node" . "start" .) }}</h1>

  {{ with .Params.description }}
    <div class="xPageDescription">{{ . }}</div>
  {{ end }}

  {{- if .Content }}
    {{ .Content }}

    <h2>子ページリスト</h2>
    <div style="background: #eee;">
      {{- template "local-subpages" . }}</h1>
    </div>
  {{- else }}
    {{- template "local-subpages" . }}</h1>
  {{- end }}


</article>
{{ end }}


