{{- define "article" }}
<article class="xArticle" itemscope itemtype="https://schema.org/BlogPosting">
  {{- partial "prev-next-siblings" . }}
  {{- .Render "inc-article-header" }}
  {{- .Render "inc-article-content" }}

  {{- if .Content }}
    <div class="xPageList">
      <div class="xPageList_boxTitle">子ページリスト</div>
      <div class="xPageList_boxBorder">
        {{- partial "subpages" (dict "section" . "level" 2) }}
      </div>
    </div>
  {{- else }}
    <div class="xPageList">
      {{- partial "subpages" (dict "section" . "level" 2) }}
    </div>
  {{- end }}

  {{ .Render "inc-article-up" }}
  {{- partial "prev-next-siblings" . }}
</article>
{{- end }}
