{{ define "head" }}
  <meta name="robots" content="noindex,follow">
{{ end }}

{{ define "article" }}
<article class="xArticle">
  {{- .Render "inc-article-header" }}

  <div class="xArticle_content">
    {{- $plural := .Data.Plural }}

    <h2 style="margin: 1em 0;">A-Z 順</h2>
    {{- range $index, $term := .Data.Terms.Alphabetical }}
      {{ $termPage := $.Site.GetPage (printf "/%s/%s" $plural $term.Name) }}
      <div class="xMenu_tag">
        <a href="{{ $termPage.RelPermalink }}">{{ $termPage.Title }} ({{ $term.Count }})</a>
      </div>
    {{- end }}

    <h2 style="margin: 1em 0;">記事数順</h2>
    {{- range $index, $term := .Data.Terms.ByCount }}
      {{ $termPage := $.Site.GetPage (printf "/%s/%s" $plural $term.Name) }}
      <div class="xMenu_tag">
        <a href="{{ $termPage.RelPermalink }}">{{ $termPage.Title }} ({{ $term.Count }})</a>
      </div>
    {{- end }}
  </div>

  {{ .Render "inc-article-up" }}
</article>
{{ end }}

