@import "_defines-custom";
@import "_defines";
@import "_common";
@import "_base-layout";

a {
  text-decoration: none;

  &:link {
    color: $COLOR_LINK_HIGHLIGHT;
  }

  &:visited {
    color: mix(purple, $COLOR_LINK_HIGHLIGHT);
  }

  &:hover, &:active {
    color: $COLOR_LINK_HIGHLIGHT_TEXT;
    background: $COLOR_LINK_HIGHLIGHT;
  }

  main & {
    font-weight: bold;
  }

  // リンクテキスト内のコードには code 要素特有の色を付けない
  & code {
    color: inherit;
    background: transparent;
  }
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;

  th, td {
    border: solid 1px #ccc;
    padding: 0.5em;
  }

  th {
    background: #eee;
  }

  // テーブルを水平スクロール可能にする。
  // table renderer hook ができたら、
  // table 要素の上に div style="overflow-x:auto" 要素を追加
  // することで対応する方がよいらしい。
  display: block;
  max-width: fit-content;
  overflow-x: auto;
}

pre {
  background: $COLOR_CODE_BG;
  overflow-x: auto;

  //white-space: pre-wrap;
  //white-space: break-spaces;
  padding: 0.8em 1em;
  line-height: 1.3;
  border-radius: 0.5em;

  li & {
    margin: 0.5em 0;
  }

  // タブ文字がデフォルトの 8 文字では大きすぎるので調整（主に Go 言語用）
  tab-size: 2;

  @include screen-size-2 {
    tab-size: 4;
  }
}

.xCodeBlock {
  &_title {
    background: #ddd;
    color: #333;
    display: inline-block;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.2em 1em 0;
  }

  // pre は基本的に角丸だが、上にタイトル表示がある場合は左上のみ角丸にしない
  &_title + &_code pre {
    border-radius: 0 0.5em 0.5em;
  }
}

blockquote {
  font-style: italic;
  padding: 0.5em 0 0.5em 0.5em;
  border-left: solid 0.3em #ccc;
  margin-left: 0;

  @include screen-size-1 { margin-left: 1em; }

  & {
    margin-left: 0;
    margin-bottom: 0.5em;
  }
}

samp {
  font-family: arial;
  background: mix(white, $COLOR_SITE, 80%);
  border-radius: 0.3em;
  padding: 0.2em 0.5em;
}

kbd {
  > kbd {
    background: white;
    border: solid 1px lightgray;
    padding: 0 0.5em;

    > samp::before {
      font-family: arial;
      font-weight: normal;
      color: lightgray;
      content: "[";
      padding-right: 0.5em;
    }

    > samp::after {
      font-family: arial;
      font-weight: normal;
      color: lightgray;
      content: "]";
      padding-left: 0.5em;
    }
  }

  :not(kbd) > & {
    font-size: 1.1em;
    font-family: monospace;
    font-weight: bolder;
    background: #eee;
    color: #333;
    padding: 0.25em 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
  }
}


/* ---------------------------------------------------------
 * xSiteHeader, xSiteFooter（ヘッダー、フッター）
 *------------------------------------------------------- */
#xSiteHeader, #xSiteFooter {
  display: block;
  color: white;
  background: $COLOR_SITE;
  height: 5.5rem;
  font-weight: bolder;
  font-size: 2rem;
  padding-top: 1rem;
  text-align: center;
  text-shadow: 0 -1px #999, 0 8px 15px rgba(0,0,0,70%);

  a {
    color: white;
    text-decoration: none;
  }
}

#xSiteFooter2 {
  background: $COLOR_SITE;
  font-size: 0.8rem;
  color: #ccc;
  a { color: white !important; }

  padding: 0 1rem 2rem;
  text-align: center;
}


/*
 * 記事ひとつ分の領域
 */
.xArticle:nth-of-type(n+2) {
  margin-bottom: 3rem;
}

.xArticle {
  ul, ol {
    padding-left: 1.5em;

    @include screen-size-1 { padding-left: 3em; }
  }

  li {
    &:nth-child(n+2), li { padding-top: 0.4em; }

    > ul, > ol {
      padding-left: 1.5em;

      @include screen-size-1 { padding-left: 2em; }
    }
  }
}

.xArticle_headerBox {
  @include m-box-shadow(0 1px 5px 3px rgba(mix(gray, $COLOR_SITE), 0.3));

  margin: 1em -0.5em 0;

  @include screen-size-1 {
    margin-left: 0;
    margin-right: 0;
  }

  background: $COLOR_SITE_LIGHT;
  padding: 1em;

  &_breadcrumb {
    a {
      padding: 0.5em;
    }

    &::after {
      color: #aaa;
      content: '>';
      margin-right: -0.3em;
      display: inline-block;
    }
  }

  &_title a {
    color: #333 !important;
    background: none !important;
    margin-bottom: 1em;
  }
}

.xArticle_content {
  p { line-height: 2; }

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0;

  @include screen-size-1 { margin-left: 0.5em; }

  @include screen-size-2 { margin-left: 1em; }

  margin-right: 0;

  @include screen-size-1 { margin-right: 0.5em; }

  @include screen-size-2 { margin-right: 1em; }

  // 最上位要素の2つ目以降の上マージンはここで統一
  > * + * {
    margin-top: 1.5rem;
  }

  > nav > ul {
    margin-top: 1.5rem;
  }

  // 個別要素内の上マージンは自身のフォントサイズ (em) を基準に指定
  > blockquote p + p {
    margin-top: 1em;
  }

  // ヘッダ要素の上マージンは自身のフォントサイズ (em) を基準に広めに取る
  > h1, > h2, > h3, > h4, > h5, > h6 {
    margin-top: 1.8em;

    // ただし、記事の一番上のヘッダの上にはマージンあまり入れない
    &:first-child {
      margin-top: 0;
    }

    // ヘッダの直後の子ヘッダの上にもマージンはあまり入れない
    + h2, + h3, + h4, + h5, + h6 {
      margin-top: 1.5em;
    }
  }

  > h1 { font-size: 2rem; }
  > h2 { font-size: 1.4rem; }

  > h3 {
    font-size: 1.3rem;

    //color: $COLOR_SITE;
    //border-left: $COLOR_SITE 0.5em solid;
    //padding-left: 0.5em;
  }
  > h4 { font-size: 1.1rem; }
  > h5 { font-size: 1.0rem; }

  > h2 {
    color: white;
    background: $COLOR_SITE;
    padding: 0.2em 0.5em;
    margin-left: -$MAIN_PADDING_SMALL;
    margin-right: -$MAIN_PADDING_SMALL;

    @include screen-size-2 {
      margin-left: -$MAIN_PADDING + 0.2rem;
      margin-right: -$MAIN_PADDING + 0.2rem;
    }
  }
}

.xTopMenu {
  margin: 1em;
}

.xTopMenu_item {
  display: inline-block;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  position: relative;
  width: calc((100% - 2em) / 2);
  height: 60px;

  a {
    &:not(:hover) {
      color: $COLOR_SITE;
      background: $COLOR_SITE_LIGHT;
    }

    &:hover {
      color: $COLOR_SITE_LIGHT;
      background: $COLOR_SITE;
    }

    display: inline-block;
    width: 100%;
    padding: 5px 8px;
    border-radius: 0.3em;
    border: solid 1px $COLOR_SITE;
    height: 60px;

    > * {
      /* 子要素をすべて上下に中央寄せする */
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &_text {
    position: absolute;
    left: 68px;
    display: inline-block;

    /* overflow: hidden; */
  }
}

.xSectionTitle:not(:last-of-type)::after {
  margin-left: 0.5em;
  margin-right: 0.5em;
  content: '>'
}

.xPageDescription {
  display: block;
  color: darkred;
  padding: 0.5em;
  border: double 3px darkred;
}

.xPageDate {
  font-size: 0.9rem;
  display: block;
  text-align: right;
  color: gray;
  margin-top: 1em;
}

.xMenu_box {
  margin: 1em;
  padding: 0;

  &_title {
    font-size: 1.1rem;
    margin: 1.5em 0 0.5em;

    a {
      display: block;
      color: $COLOR_LINK_HIGHLIGHT;
      text-decoration: none;

      &:hover {
        color: $COLOR_LINK_HIGHLIGHT_TEXT;
        background: $COLOR_LINK_HIGHLIGHT;
      }
    }
  }

  &_body {
  }
}

.xMenu_tag {
  font-size: smaller;
  display: inline-block;
  margin: 0.2rem;
  border: solid 1px $COLOR_SITE;
  border-radius: 1.5em;

  a {
    display: block;
    color: $COLOR_SITE;
    padding: 0.2em 0.5em;
    text-decoration: none;
    width: 100%;
    border-radius: 1.5em;

    &:hover {
      color: $COLOR_LINK_HIGHLIGHT_TEXT;
      background: $COLOR_LINK_HIGHLIGHT;
    }
  }
}

.xNavTree {
  font-size: smaller;

  ul {
    padding-left: 0;
    list-style: none;
  }

  li {
    display: block;

    > ul {
      padding-left: 1em;
    }

    > a {
      width: 100%;
      color: black;
      display: block;
      text-decoration: none;
      padding: 0.2em;

      &:hover {
        color: $COLOR_LINK_HIGHLIGHT_TEXT;
        background: $COLOR_LINK_HIGHLIGHT;
      }
    }
  }
}

.xNavTree-dir::before {
  // content: '┃';
  content: '\1F4C1'
}

.xNavTree-active {
  color: black;
  background: white;
}


/*
 * 目次 (Table of Contents)
 * （Goldmark が #TableOfContents という要素を出力するので仕方なくそれに従う）
 */
#TableOfContents {
  > ul {
    font-size: smaller;
    border-radius: 0.5em;
    border: solid 1px lightgray;
    padding: 0.5em 1em;
    line-height: 2;
  }

  > ul::before {
    content: "目次";
    font-weight: bolder;
  }

  ul {
    list-style-type: none;
  }

  li {
    padding-top: 0;

    > ul {
      padding-left: 1em;
      width: 100%;
    }
  }

  a {
    font-weight: normal;
    display: block;
    border-bottom: dashed 1px lightgray;
  }
}

.xPageListInSection {
}

/* ---------------------------------------------------------
 * xPageList（リストページ用のページリスト（階層ツリー））
 *------------------------------------------------------- */
.xPageList {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.2;

  li {
    margin: 0;
    padding: 0 !important;
  }

  a {
    display: block;
    padding: 0.5em;
  }

  &_boxTitle {
    display: inline-block;
    padding: 0.5em 1em 0.3em;
    color: white;
    text-align: center;
    font-weight: bolder;
    background: $COLOR_SITE; //#369;
    border-radius: 0.5em 0.5em 0 0;
  }

  &_boxBorder {
    border: solid 2px $COLOR_SITE; //#369;
    background: $COLOR_SITE_LIGHT; //#f9feff;
    border-radius: 0 0.5em 0.5em;

    //padding: 0.5em;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      display: block;
      border-bottom: solid 1px $COLOR_SITE;

      &:not(:hover) {
        color: $COLOR_SITE;
      }

      &:hover {
        color: $COLOR_SITE_LIGHT;
        background: $COLOR_SITE;
      }
    }
  }
}


/* ---------------------------------------------------------
 * xPrevNextLink（「前へ」「次へ」リンク）
 *------------------------------------------------------- */
.xPrevNextLink {
  @include m-clearfix;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  /* 印刷時は非表示 */
  @media print { display: none; }

  // 下のパンくずリストには上にラインを引く
  &:nth-child(n+2) {
    margin-top: 2rem;
    padding-top: 0.5rem;
    border-top: dashed 1px $COLOR_SITE;
  }

  & a {
    padding: 0.5em;
  }

  &_prev {
    display: inline-block;
    &::before { content: "≪"; }
  }

  &_next {
    margin-left: 2em;
    display: inline-block;
    float: right;
    text-align: right;
    &::after { content: "≫"; }
  }
}


/* ---------------------------------------------------------
 * xBreadcrumb（パンくずリスト）
 *------------------------------------------------------- */
//.xBreadcrumb {
//  /* 印刷時は非表示 */
//  @media print { display: none; }
//
//  padding: 0.5rem 1rem;
//  background: rgba(mix(white, $COLOR_SITE, 70%), 0.8);  //rgba(220, 220, 220, 0.90);
//
//  /* 上端固定 */
//  position: -webkit-sticky;
//  position: sticky;
//  top: 0;
//  z-index: 100;
//
//  &_item {
//    display: inline;
//    list-style: none;
//    a {
//      /* color: #339; */
//      font-weight: bolder;
//      text-decoration: none;
//    }
//  }
//
//  &_item:not(:last-child)::after {
//    content: '>';
//    padding: 0 0.5em;
//  }
//}

.xBreadcrumb {
  /* 1 行で収まらない場合はスクロールで表示 */
  white-space: nowrap;
  overflow-x: scroll;

  /* ただし、スクロールバーは表示しない */
  -ms-overflow-style: none;  // for MS IE/Edge
  &::-webkit-scrollbar {  // for Webkit
    display:none;
  }

  /* 印刷時は非表示 */
  @media print { display: none; }

  padding: 0.5rem;
  background: rgba(mix(white, $COLOR_SITE, 70%), 0.8);  //rgba(220, 220, 220, 0.90);

  /* 上端固定 */
  position: sticky;
  top: 0;
  z-index: 100;

  &_item {
    display: inline;
    list-style: none;

    a {
      padding: 0.5em;

      /* color: #339; */
      font-weight: bolder;
      text-decoration: none;
    }
  }

  &_item:not(:last-child)::after {
    content: '>';
  }

  &_item:last-child {
    padding-left: 0.5em;
  }
}

/* ---------------------------------------------------------
 * その他
 *------------------------------------------------------- */

.xBoxLink {
  font-size: smaller;
  display: inline-block;
  width: 100%;
  border-bottom: solid 1px #999;

  &:first-of-type {
    border-top: solid 1px #999;
  }

  a {
    display: block;
    color: black;
    padding: 0.5em;
    text-decoration: none;
    width: 100%;

    &:hover {
      color: $COLOR_LINK_HIGHLIGHT_TEXT;
      background: $COLOR_LINK_HIGHLIGHT;
    }
  }

  time {
    color: #bbb;
    display: inline-block;
    margin-left: 0.5em;
    text-align: right;
  }
}

/*
 * xRecents（トップページの新着記事一覧）
 */
.xRecents {
  margin-top: 1rem;
}

.xRecents_item {
  background: #f9f9f9;
  border: solid 1px gray;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;

  /* 画面サイズ小のとき */
  width: calc(100%);
  height: 2.6em;
  margin-right: -1px;
  margin-top: 0;

  time {
    font-size: smaller;
    font-weight: normal;
    color: gray;
    float: right;
    padding-left: 0.5em;
  }

  a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0.5em;

    &:hover time {
      color: white;
    }
  }

  @include screen-size-2 {
    width: calc(100% / 3);
    height: 6em;

    time {
      display: inline;
      padding: 0 0.5em;
      color: white;
      background: rgba(0,0,0,40%);
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &_tag {
    display: inline-block;
    font-weight: normal;
    color: gray;
    background: white;
    font-size: 0.8em;
    border: solid 1px gray;
    border-radius: 1em;
    padding: 0 0.4em;
    margin-top: 0.35em;
    line-height: 1.2;
    margin-left: 0.2em;

    &:first-child {
      margin-left: 0.5em;
    }
  }
}


/*
 * xPageTags ページ内のタグボタン
 */
.xPageTags {
  padding: 0;
  text-align: right;

  &_item {
    display: inline-block;  /* 横に並べる */
    list-style-type: none;
    margin-left: 0.5em;

    a {
      font-weight: normal;
      display: block;  /* 選択範囲を広げる */
      text-decoration: none;
      padding: 0.2em 1em;
      border-radius: 1em;
      background: $COLOR_LINK_HIGHLIGHT !important;
      color: white !important;

      &:hover, &:active {
        background: mix(white, $COLOR_LINK_HIGHLIGHT, 30%) !important;
      }
    }
  }
}

/*
 * ページャー（Bootstrap ベース）
 */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: $COLOR_LINK_HIGHLIGHT;
  text-decoration: none;
  background: white;
  border: 1px solid $COLOR_LINK_HIGHLIGHT;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: white;
  background: $COLOR_LINK_HIGHLIGHT;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: white;
  background: $COLOR_LINK_HIGHLIGHT;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  cursor: not-allowed;
  border-top: none;
  border-bottom: none;
  color: #999;
  background: white;
}

/*
 * Amazon アソシエイツ
 */
.xAmazon {
  a {
    display: block;

    @include screen-size-1 {
      display: flex;
    }
  }

  &:hover &_image {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }
  &_image { text-align: center; }

  &_image img {
    max-height: 200px;
    min-width: 50px;
  }
  &_info { padding: 0.5em; }
  &_info_title { display: block; }

  &_info_author {
    display: inline;
    font-weight: normal;

    @include screen-size-1 { margin-top: 0.5em; }
  }

  &_info_publisher {
    display: inline;
    font-weight: normal;
    &::before { content: '/ '; }

    @include screen-size-1 { margin-top: 0.5em; }
  }

  &_info_icon {
    display: inline;

    @include screen-size-1 {
      margin-top: 0.5em;
      display: block;
    }
  }
}

/*
 * private ショートコード用 {{% private %}}本文{{%/ private %}}
 */
.xPrivate {
  $color: $COLOR_PRIVATE;

  position: relative;
  border: solid 2px $color;
  border-radius: 0.5em;
  padding: 1.5em 1em 1em;
  color: $color;

  &::before {
    content: "Private メモ";
    border-radius: 0.3em;
    position: absolute;
    display: inline-block;
    top: -1em;
    left: 0.8em;
    padding: 0 0.5em;
    background: $color;
    color: white;
    font-weight: bold;
  }
}

/*
 * エイリアスの 7 桁 ID 表示
 */
.xAlias {
  $color: $COLOR_PRIVATE;

  margin: 0.5em 0;
  color: $color;
  text-align: right;
  font-weight: bolder;

  &_id {
    margin-left: 0.5em;
    background: $color;
    color: white;
    padding: 0.2em 0.5em;
  }
}

/*
 * Note 囲い {{% note title="タイトル" %}}本文{{%/ note %}}
 */
.xNote {
  $color: $COLOR_SITE;

  margin-top: 2.5em;  // 強引な調整
  position: relative;
  border: solid 2px $color;
  border-radius: 0.5em;
  padding: 1.5em 1em 1em;

  &_title {
    border-radius: 0.3em;
    position: absolute;
    display: inline-block;
    top: -1em;
    left: 0.8em;
    padding: 0 0.5em;
    background: $color;
    color: white;
    font-weight: bold;
  }
}

/*
 * デバッグ系
 */
.xDebug-linkTitle {
  color: red;
  opacity: 0.5;
}

