{{- define "local-sitemap" }}
  <ul style="padding-left: 1.2em;">
    {{/* カレントセクション直下のセクションは再帰処理 */}}
    {{- range .Sections }}
    {{- if ne .Params.noindex true }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{- template "local-sitemap" . }}
      </li>
    {{- end }}
    {{- end }}

    {{/* カレントセクション直下のページリスト（ホームだけ特殊処理） */}}
    {{- range .RegularPages }}
    {{- if ne .Params.noindex true }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{- end }}
    {{- end }}
  </ul>
{{- end }}

<b>{{ len .Site.RegularPages }}</b> 件の記事があります。
{{ template "local-sitemap" .Site.Home }}

