{{- $section := .section }}
{{- $level := .level }}
{{- $tooMany := gt (len $section.Pages) 200 }}
<ol>
  {{- range $section.Pages }}
    <li><a href="{{ .RelPermalink }}">{{ if .IsSection }}&#128193;{{ end }}{{ .LinkTitle }}
        {{- if .Site.IsServer }}<div style="font-size: smaller; font-weight: normal;">{{ partial "debug/weight-icon" . }}{{ partial "debug/draft-icon" . }}<span style="opacity: 50%;">{{ .Title }}</span></div>{{ end -}}</a>
      {{- if and .IsSection (gt $level 1) (not $tooMany) }}
        {{- partial "subpages" (dict "section" . "level" (sub $level 1)) }}
      {{- end }}
    </li>
  {{- end }}
</ol>
