{{- /* サムネイル付きの子ページリスト */ -}}

{{- define "local-hierarchy" }}
  <ul>
    {{/* カレントセクション直下のセクション（イメージあり） */}}
    {{- range where .Sections ".Params.image" "!=" nil }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{- end }}

    {{/* カレントセクション直下のセクション（イメージなし） */}}
    {{- range where .Sections ".Params.image" "==" nil }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ .Params.image }}
    {{- end }}

    {{/* カレントセクション直下の記事ページ */}}
    {{- range .RegularPages }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{- end }}
  </ul>
{{- end }}

<div class="xPageList">
  <div class="xPageList_boxTitle">メニュー</div>
  <div class="xPageList_boxBorder">
    {{ template "local-hierarchy" . }}
  </div>
</div>

